<ion-header>
  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="notification-page">
    <ion-list>
        <ion-item (click)="moreInfo()">
          <ion-avatar item-left>
            <img src="assets/images/logo_fb_twitter.jpg">
          </ion-avatar>
          <h2>විශේෂ වැඩසටහන් නිවේදන</h2>
          <p>
            මහමෙව්නාව බෝධිඥාන භාවනා අසපුව.
          </p>
          <ion-note item-right>3:43 pm</ion-note>
        </ion-item>
        <ion-item (click)="moreInfo()">
          <ion-avatar item-left>
            <img src="assets/images/logo_fb_twitter.jpg">
          </ion-avatar>
          <h2>පොහොය නිවේදන</h2>
          <p>
            බුදු පසේබුදු අරහන්තක මහා විහාරය.
          </p>
          <ion-note item-right>3:43 pm</ion-note>
        </ion-item>
    </ion-list>
</ion-content>